/*Default mobile view*/
.container{
    display: grid;
    grid-template-columns: 300px 300px;
    /* grid-template-rows: 250px 450px 300px 150px; */
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    grid-area: hd;
}

.sidebar{
    grid-area:sd;
    padding: 0 25px;
}

.main{
    grid-area:main;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area:ft;
}

/*Medium Size Screen*/
@media(min-width:600px) and (max-width:900px){
    .container{
        display:grid;
        grid-template-columns: 300px 300px 300px;
        /* grid-template-rows: 250px 600px; */
        grid-auto-rows: minmax(200px, auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}

/*Large Screen Size*/
@media(min-width: 901px){
    .container{
        display:grid;
        grid-template-columns: 300px 300px 300px;
        /* grid-template-rows: 250px 900px; */
        grid-auto-rows: minmax(200px, auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }
}

/*nested grid*/
.nested-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.post-img-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(150px, auto);
}