/*This is the main page for the blog CSS*/

/*Imported CSS Pages*/
@import "./images.css";
@import "./homepage_layout.css";
@import "./post_layout.css";

body{
    /* background-color: aqua; */
    background-image: linear-gradient(#ff12f7,#12fbff);
    background-repeat: no-repeat;
}

h1, h2, h3 {
    color: #fff;
    font-family: 'Acme', sans-serif;
}

.logo {
    font-size: 5em;
}

a {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

ul{
    list-style-type: none;
}

.streamlineLink {
    text-decoration: none;
    color: #fff;
}

.social {
    margin-left: 20px;
}

.fab {
    color: #fff;
}

figure{
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: center;
}